/* GENERAL VALUES */

.hidden {
    display: none;
}

html {
    margin: none;
}

/* JUST SOME STYLING FOR TESTING */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity_bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10rem;
}

#searching {
    display: flex;
    align-items: center;
}

#house_filtering {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#filtering_and_sorting {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

button.filter {
    width: 5rem;
    
}


#student_list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 30rem 0 30rem;
}

.student {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}



/* POP-UP TIME */
#container {
    position: fixed;
    top: 0%;
    left: 0%;
    place-content: center;
    background-color:rgba(0, 0, 0, 0.291);
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#pop_up {
    display: grid;
    padding: 2rem;
}

.middle {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 40%;
    top: 25%;
    justify-content: center;
    align-items: center;
    background-color: beige;
    z-index: 1;
    justify-self: center;
}